.page-header
  = link_to new_track_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t('new_model', model: Track.model_name.human)
  %h1= Track.model_name.human.pluralize

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= Track.human_attribute_name(:name)
        %th
        %th
        %th

    %tbody
      - @tracks.each do |track|
        %tr
          %td= track.name
          %td= link_to t('show'), track
          %td= link_to t('edit'), edit_track_path(track)
          %td= link_to t('destroy'), track, :data => { confirm: t('are_you_sure') }, :method => :delete
