.page-header
  = link_to tracks_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    =t('back')
  = link_to edit_track_path(@track), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    =t('edit')
  %h1= t('show_model', model: Track.model_name.human)

%dl.dl-horizontal
  %dt= Track.human_attribute_name(:name) + ':'
  %dd= @track.name
