= form_for @user, html: { class: "form-horizontal", role: "form" } do |f|
  -if @user.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only= t('close')
      %h4= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"

      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group.form-group-lg
    = f.label :first_name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :first_name, class: 'form-control'
  .form-group.form-group-lg
    = f.label :last_name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :last_name, class: 'form-control'
  .form-group.form-group-lg
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :email, class: 'form-control'
  .form-group.form-group-lg
    = f.label :phone, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :phone, class: 'form-control'
  - unless @skip_track == true
    .form-group.form-group-lg
      = f.label :track, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.collection_select(:track_id, Track.all, :id, :name, {}, {class: 'form-control'})
  .form-group.form-group-lg
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
