.page-header
  = link_to new_user_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t('new_model', model: User.model_name.human)
  %h1= User.model_name.human.pluralize

.form-group
  = form_tag users_path, method: 'get', id: 'filter_user_by_track' do |f|
    = grouped_collection_select(f, :by_track, Location.order(:name), :tracks, :name, :id, :name,
      { selected: params[:by_track], prompt: t('filter_by_track') }, class: 'form-control')

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= User.human_attribute_name(:full_name) # i18n-tasks-use t('activerecord.attributes.user.full_name')
        %th= User.human_attribute_name(:track)
        %th= User.human_attribute_name(:location)
        %th.actions

    %tbody
      - @users.each do |user|
        %tr
          %td= user.full_name
          %td= user.track ? user.track.name : t('undeclared')
          %td= user.track.try(:location).try(:name)
          %td.actions
            = link_to user, title: t('show') do
              %span.glyphicon.glyphicon-info-sign{ aria: { hidden: 'true' } }
              %span.sr-only>= t('show')
            = link_to edit_user_path(user), title: t('edit') do
              %span.glyphicon.glyphicon-pencil{ aria: { hidden: 'true' } }
              %span.sr-only>= t('edit')
