= form_for @practice, :html => { :class => "form-horizontal", :role => "form" } do |f|
  -if @practice.errors.any?
    .alert.alert-danger.alert-dismissable{:role => "alert"}
      %button.close{:type => "button", :data => {:dismiss => "alert"} }
        %span{:aria => {:hidden => "true"} } &times;
        %span.sr-onlyy= t('close')
      %h4= "#{pluralize(@practice.errors.count, "error")} prohibited this practice from being saved:"

      %ul
        - @practice.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :start_time, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :start_time, :class => 'form-control'
  .form-group
    = f.label :end_time, :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :end_time, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit :class => 'btn btn-primary'
