.page-header
  = link_to @practice, data: { confirm: t('are_you_sure') }, title: t('destroy'),
    class: 'btn btn-danger', method: :delete do
    %span.glyphicon.glyphicon-trash
    = t('delete')
  = link_to practices_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t('back')
  = link_to edit_practice_path(@practice), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    = t('edit')
  %h1= t('show_model', model: Practice.model_name.human)

%dl.dl-horizontal
  %dt= Practice.human_attribute_name(:start_time) + ':'
  %dd= @practice.start_time
  %dt= Practice.human_attribute_name(:end_time) + ':'
  %dd= @practice.end_time
  %dt= Practice.human_attribute_name(:stage) + ':'
  %dd= @practice.stage.try(:name)
  %dt= Practice.human_attribute_name(:location) + ':'
  %dd= @practice.location.try(:name)

%h2= t(:scheduled_trainees)

.form-group
  = form_tag add_user_practice_path(@practice), method: :put, id: 'add_user_practice' do |f|
    = collection_select(f, :user_id, @practice.unregistered_users, :id, :full_name_with_track,
      { prompt: t('select_trainee') }, class: 'form-control')

%table.table.table-striped.table-bordered.table-hover
  %thead
    %th= User.human_attribute_name(:full_name)
    %th= User.human_attribute_name(:track)
    %th
  %tbody
    - @practice.users.each do |user|
      %tr{ data: { 'user-id' => user.to_param } }
        %td
          = link_to remove_user_practice_path(@practice, user_id: user.id), title: t('remove'), method: :delete,
            class: 'text-danger' do
            %span.glyphicon.glyphicon-remove-sign{ aria: { hidden: 'true' } }
            %span.sr-only>= t('remove')
          = user.full_name
        %td= user.track ? user.track.name : t('undeclared')
        %td
          - if user.feedbacks.where(practice: @practice).any?
            - feedback = user.feedbacks.where(practice: @practice).first
            = link_to edit_user_feedback_path(user, feedback.to_param), title: t('feedback'), class: 'has_feedback' do
              %span.glyphicon.glyphicon-ok-sign{ aria: { hidden: 'true' } }
              %span.sr-only>= t('feedback')
          - else
            = link_to new_user_feedback_path(user, practice_id: @practice),
              title: t('feedback'), class: 'needs_feedback' do
              %span.glyphicon.glyphicon-ok-circle{ aria: { hidden: 'true' } }
              %span.sr-only>= t('feedback')

