= form_for([@user, @feedback], html: { class: "form-horizontal", role: "form" }) do |f|
  -if @feedback.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only= t('close')
      %h4= "#{pluralize(@feedback.errors.count, "error")} prohibited this feedback from being saved:"

      %ul
        - @feedback.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :practice, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select(:practice_id, @user.practices, :id, :date, {}, {class: 'form-control'})
  .form-group
    = f.label :note, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :note, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
