.page-header
  = link_to user_path(@user), class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    =t('back')
  = link_to edit_user_feedback_path(@user, @feedback), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    =t('edit')
  %h1= t('show_model', model: Feedback.model_name.human)

%dl.dl-horizontal
  %dt User:
  %dd= @feedback.user
  %dt Practice:
  %dd= @feedback.practice
  %dt Note:
  %dd= @feedback.note
