.page-header
  = link_to new_stage_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t('new_model', model: Stage.model_name.human)
  %h1= Stage.model_name.human.pluralize

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= Stage.human_attribute_name(:name)
        %th.actions

    %tbody
      - @stages.each do |stage|
        %tr
          %td= stage.name
          %td.actions
            = link_to stage, {title: t('show')} do
              %span.glyphicon.glyphicon-info-sign{aria: {hidden: 'true'} }
              %span.sr-only>= t('show')
            = link_to edit_stage_path(stage), {title: t('edit')} do
              %span.glyphicon.glyphicon-pencil{aria: {hidden: 'true'} }
              %span.sr-only>= t('edit')
            = link_to stage, {data: { confirm: t('are_you_sure') }, title: t('destroy'), method: :delete} do
              %span.glyphicon.glyphicon-trash{aria: {hidden: 'true'} }
              %span.sr-only>= t('destroy')
