.page-header
  = link_to @stage, data: { confirm: t('are_you_sure') }, title: t('destroy'),
    class: 'btn btn-danger', method: :delete do
    %span.glyphicon.glyphicon-trash
    = t('delete')
  = link_to stages_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    = t('back')
  = link_to edit_stage_path(@stage), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    = t('edit')
  %h1= t('show_model', model: Stage.model_name.human)

%dl.dl-horizontal
  %dt= Track.human_attribute_name(:name) + ':'
  %dd= @stage.name
