.page-header
  = link_to new_location_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t('new_model', model: Location.model_name.human)
  %h1= Location.model_name.human.pluralize

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= Location.human_attribute_name(:name)

    %tbody
      - @locations.each do |location|
        %tr
          %td= location.name
