.page-header
  = link_to new_location_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t('new_model', model: Location.model_name.human)
  %h1= Location.model_name.human.pluralize

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= Location.human_attribute_name(:name)
        %th.actions

    %tbody
      - @locations.each do |location|
        %tr{ data: { location: { id: location.to_param } } }
          %td= location.name
          %td.action
            = link_to edit_location_path(location), { title: t('edit') } do
              %span.glyphicon.glyphicon-pencil{ aria: { hidden: 'true' } }
              %span.sr-only>= t('edit')
            = link_to location, { data: { confirm: t('are_you_sure') }, title: t('destroy'), method: :delete } do
              %span.glyphicon.glyphicon-trash{ aria: { hidden: 'true' } }
              %span.sr-only>= t('destroy')
