.page-header
  = link_to new_bmark_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t('new_model', model: Bmark.model_name.human) # i18n-tasks-use t('activerecord.models.bmark') # let i18n-tasks know the key is used
  %h1= Bmark.model_name.human.pluralize

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th= Bmark.human_attribute_name(:name)
        %th= Bmark.human_attribute_name(:track)
        %th= Bmark.human_attribute_name(:stage)
        %th.actions

    %tbody
      - @bmarks.each do |bmark|
        %tr
          %td= bmark.name
          %td
            = bmark.track.name_and_location
          %td= bmark.stage.name
          %td.action
            = link_to bmark, {title: t('show')} do
              %span.glyphicon.glyphicon-info-sign{aria: {hidden: 'true'} }
              %span.sr-only>= t('show')
            = link_to edit_bmark_path(bmark), {title: t('edit')} do
              %span.glyphicon.glyphicon-pencil{aria: {hidden: 'true'} }
              %span.sr-only>= t('edit')
            = link_to bmark, {data: { confirm: t('are_you_sure') }, title: t('destroy'), method: :delete} do
              %span.glyphicon.glyphicon-trash{aria: {hidden: 'true'} }
              %span.sr-only>= t('destroy')
