!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:rel => "shortcut icon", :href => "favicon.ico"}
    %title= t('app_title')

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{:type => "button", :data => {:toggle => "collapse", :target => "#navbar"}, :aria => {:expanded => "false", :controls => "navbar"} }
            %span.sr-only= t('toggle_navigation')
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to t('app_title'), root_path, :class => "navbar-brand"
        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              =link_to Track.model_name.human.pluralize, tracks_path
            %li
              =link_to Stage.model_name.human.pluralize, stages_path
          - if user_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li.divider-vertical
              %li.dropdown
                %a(href="#" class="dropdown-toggle" data-toggle="dropdown")
                  %span.glyphicon.glyphicon-user
                  = current_user.email
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to t(:sign_out), destroy_user_session_path, method: :delete

    .container
      - flash.each do |name, msg|
        = content_tag :div, :class => "alert alert-#{name == :error ? "danger" : "success" } alert-dismissable", :role => "alert" do
          %button.close{:type => "button", :data => {:dismiss => "alert"} }
            %span{:aria => {:hidden => "true"} } &times;
            %span.sr-only= t('close')
          = msg
      = yield
